[Unit]
Description=PM5 Service
Requires=bluetooth.target network.target
After=bluetooth.target network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/home/pi/go/bin/pm5
ExecStop=/usr/bin/sleep 10
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
