[Unit]
Description=PM5 Service
Requires=bluetooth.target network.target
After=bluetooth.target network.target

[Service]
User=root
Group=root
Type=simple
Environment="CLIARGS=--logfile /var/log/pm5.log --dbfile /var/run/pm5/pm5.boltdb"
ExecStartPre=/home/pi/go/bin/pm5 $CLIARGS --init
ExecStart=/home/pi/go/bin/pm5 $CLIARGS
ExecStop=/usr/bin/sleep 5
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
